
#input-age{
    height: 5vh;
    width: 20vw;
    border-radius: 7px;
}

.container{
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
  height: 100vh; /* Full screen height */
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

